<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
    <script src="https://code.jquery.com/jquery-3.2.1.slim.min.js" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js" integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q" crossorigin="anonymous"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js" integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl" crossorigin="anonymous"></script>

    <title>Rentals</title>
  </head>
  <body>
    <nav class="navbar navbar-expand-lg navbar-light bg-light">

      <div class="navbar-nav">
        <a class="nav-item nav-link" href="{{ url_for('index') }}">Home</a>

        <li class="nav-item dropdown">

          <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
            Owner
          </a>

          <div class="dropdown-menu" aria-labelledby="navbarDropdown">
            <a class="nav-item nav-link" href="{{ url_for('owners.add_owner') }}">Signup</a>
            <a class="nav-item nav-link" href="{{ url_for('owners.all_owner') }}">List of all Owners</a>
            <a class="nav-item nav-link" href="{{ url_for('owners.del_owner') }}">Remove Owner</a>
          </div>

        </li>

        <li class="nav-item dropdown">

          <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
            Vehicle
          </a>

          <div class="dropdown-menu" aria-labelledby="navbarDropdown">
            <a class="nav-item nav-link" href="{{ url_for('vehicles.add_vehicle') }}">Add Vehicle</a>
            <a class="nav-item nav-link" href="{{ url_for('vehicles.all_vehicle') }}">List of all Vehicles</a>
            <a class="nav-item nav-link" href="{{ url_for('vehicles.del_vehicle') }}">Remove Vehicle</a>
          </div>

        </li>

        <li class="nav-item dropdown">

          <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
            User
          </a>
          
          <div class="dropdown-menu" aria-labelledby="navbarDropdown">
            <a class="nav-item nav-link" href="{{ url_for('users.add_user') }}">User</a>
            <a class="nav-item nav-link" href="{{ url_for('users.all_user') }}">List of all Users</a>
            <a class="nav-item nav-link" href="{{ url_for('users.del_user') }}">Remove user</a>
          </div>

        </li>

        <li class="nav-item dropdown">

          <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
            Rentals
          </a>

          <div class="dropdown-menu" aria-labelledby="navbarDropdown">
            <a class="nav-item nav-link" href="{{ url_for('rentals.rental') }}">Rent Vehicle</a>
            <a class="nav-item nav-link" href="{{ url_for('rentals.all_rental') }}">Rented vehicles list </a>
            <a class="nav-item nav-link" href="{{ url_for('rentals.price') }}">Price</a>
            <a class="nav-item nav-link" href="{{ url_for('rentals.all_price') }}">Price List</a>
          </div>

        </li>

      </div>
    </nav>

    {% block content %}

    {% endblock %}
  </body>
</html>
